* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* Свойства для сброса начальных стилей элементов */
}

body {
  font-family: "Inter", sans-serif;
  color: #303030;
}

header {
  /* Стили для хедера */
  background-color: #2965f1;
  padding: 24px 0;
}

header span {
  /* Стили для текста в хедере IT-INCUBATOR */
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #ffffff;
}

.main-section {
  /* Стили для первой секции */
  background-color: #fafaff;
  padding: 60px 0;
  min-height: 100vh;
}

.main-title {
  /* Стили для заголовка в первой секции */
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
}

.main-text {
  /* Стили для текста в первой секции */
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.main-image {
  /* Стили для изображения в первой секции */
  max-width: 715px;
}

.about-section {
  /* Стили для второй секции */
  background-color: #ffffff;
  padding: 100px 0;
}

select {
  /* Стили для выпадающего списка */
  appearance: none;
  border: 1px solid #3030304d;
  padding: 8px 12px;
  width: 150px;
  background-image: url(./myImages/ep_arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}

.section-title {
  /* Стили для заголовков во второй секции */
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
}

.frameworks-list {
  /* Стили для маркированного списка во второй секции */
  padding: 0 20px;
  list-style: none;
  list-style-image: url(./myImages/solar_map-arrow-up-bold.svg);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}

.books-list {
  /* Стили для нумерованного списка во второй секции */
  padding: 0 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}

.label {
  /* Стили для подписей чекбоксов */
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}

.text-field {
  /* Стили для односточного поля ввода текста */
  width: 330px;
  border: 1px solid #3030304d;
  border-radius: 5px;
  padding: 8px 0;
  padding-left: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #303030;
  opacity: 30%;
}

.btn {
  /* Стили для кнопки */
  width: 125px;
  height: 36px;
  border: none;
  border-radius: 5px;
  background-color: #2965f1;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #ffffff;
}

.line {
  /* Стили для линии */

  margin: 60px 0;
  border: 1px solid rgba(48, 48, 48, 0.3);
}

table {
  /* Стили для таблицы */
  border-collapse: collapse;
  border: 1px solid #95a1bb;
  font-size: 14px;
}

th,
td {
  /* Стили для ячеек таблицы */
  padding: 12px 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}
th {
  font-weight: 700;
}

footer {
  /* Стили для футера */
  background-color: #a3a7ff4d;
  padding: 26px 0;
}

.footer-link {
  /* Стили для футера */
  color: #2965f1;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-decoration: none;
}

.footer-link:visited {
  color: #551a8b;
}
